<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<STEDATA>
<file>
<encryption>none</encryption>
<encryptionMode>ECB</encryptionMode>
<paddingType>NoPadding</paddingType>
<filePath>halloTest.txt</filePath>
<iV>null</iV>
<hashFunction>SHA224</hashFunction>
<hashValue>odDr0U67rMMA+2a23UR+YHOvjLMRZnr3EFbJ/g==</hashValue>
</file>
</STEDATA>
